<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
		"-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.itbank.admin.AdminDTO" alias="admin"/>
		<typeAlias type="com.itbank.hotel.HotelDTO" alias="hotel"/>
		<typeAlias type="com.itbank.room.RoomDTO" alias="room"/>
		<typeAlias type="com.itbank.review.ReviewDTO" alias="review"/>
		<typeAlias type="com.itbank.reply.ReplyDTO" alias="reply"/>
		<typeAlias type="com.itbank.reservation.ReservationDTO" alias="reservation"/>
		<typeAlias type="com.itbank.calendar.CalendarDTO" alias="calendar"/>
	</typeAliases>
	
</configuration>
