@charset "utf-8";
main, #day, table, tr, td, span {
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    
}
#day{
    margin: auto;
    display: flex;
    flex-flow: row;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 20px;
    
}
#left {
    text-align: right;
}
#left > label {
    cursor: pointer;
}
#right {
    text-align: left;
}
#right > label {
    cursor: pointer;
}
#calendar {
    border: 1px solid black;
    width: 1162px;
    height: 600px;
    margin: auto;
}
#calendar > th,td {
	border: 1px solid black;
}

#context {
    border-bottom: 1px solid black ;
    width: 1200px;
}
#context > li {
    font-size: 15px;
    list-style: none;
    font-weight: bold;
}

#week {
    height: 40px;
}
#week > th {
    text-align: center;
    font-size: 15px;
	border: 1px solid black;
	width: 167px;
	height: 50px;
}
#check {
    height: 50px;
    display: flex;
    margin-bottom: 10px;
    width: 1200px;
    align-items: center;
    border-bottom: 1px solid black;  
}
#check > span {
    justify-content: space-between;
}
#userRoom {
    width: 700px;
    font-size: 10pt;
    text-align: right;
}
#checkbtn {
    width: 700px;
    text-align: right;
}
#checkbox {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    font-size: 10pt;
    margin-right: 30px;
}
#room {
    background-color: #CD1F48;
    border: 1px hidden black;
    border-radius: 5px;
    color: white;
}
